*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background: rgb(241, 241, 241);
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
}

header ul{
    list-style: none;
    float:right;
}

header ul li{
    display: inline;

}

header ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    margin-top: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    letter-spacing: 5px;
}
.button:hover{
    
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.021),
                0 0 20px rgb(22, 127, 131);
         
}
main{
    padding-top: 100px;
    width: 1200px;
    height: 1400px;
    margin: auto;
}
.container{
    width:100%;
    height: 700px;  
}
h1{
    
    font-size: 3.4em;
    font-weight: 900;
    text-align: center;
    color: rgb(163, 163, 163);
    z-index: 1;
    overflow: hidden;
}

h1 span{
    color: #ff022c;
}
h2{
    margin-left: 20px;
}
h2 span{
    color: #ff022c;

}

h3{
    margin-top: 20px;
}

figure{
    width: 41%;
    height: 500px;
    float: right;
}

#box-figure{
    width: 41%;
    height: 450x;
}
#parte1{
    text-align: center;
    margin-top: 35px;
    margin-left: 200px;
    font-weight: 900;

}
#parte2{
    font-weight: 900;
}
.paragraph1{
    color: rgb(75, 75, 75);
    margin-top: 5px;
    margin-top: 30px;
    margin-left: 20px;
}
.paragraph1 span{
    font-family: Arial,'Times New Roman', Times, serif;
    font-weight: bold;
}

.paragraph.paragraph2{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;

}

.paragraph.paragraph3{
    margin-top: 20px;
}
.paragraph.paragraph4{
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.8);
}

.foto{
    margin-right: 40px;
    margin-top: 20px;
    border: 1px solid rgb(171, 211, 212);
    box-shadow:  2px 2px 10px;
    width: 400px;
    height:350px;
    border-radius:50%;
    float: right;
    text-align: center;
    padding: 5px;
    background-color: rgb(171, 211, 212);
}

#secao1{

    background-color: dodgerblue;
}

#secao2{
    width: 500px;
    float: right;
    margin-top: 50px;
    padding: 20px 20px;
    background-color: rgb(89, 207, 134);
}


#secao3{
    width: 100%;
    float: left;
    margin-top: 50px;
    padding: 20px 20px;
}

#nacionalidade{
    text-transform: uppercase;
}
#cidade{
    text-transform: uppercase;
}
.container.strong{
    text-transform: uppercase;
}
#letra{
    color: darkgreen;
   text-transform: uppercase;
   margin-left: -5px;
}

.element{
    color: rgb(32, 32, 32);
    margin-left: 30px;
    margin-top: 2px;
    padding: 5px 0px;
}
.element.element1{
    font-size: 20px;
    color: rgb(22, 127, 131);
}
.element.element2{
    font-size: 19px;
}
.element.element3{
    font-size: 17px;
    color: rgb(126, 201, 202);
}
.element.element4{
    font-size: 16px;
}
.element.element5{
    font-size: 15px;
    color: rgb(89, 207, 134);
}
.element.element6{
    font-size: 14px;
}
#btn{
    width: auto;
    height: auto;
    float: left;
}
footer{
    width: 100%;
    height: 200px;
    background-color: crimson;
    text-align: center;
}

footer img{
    margin-top: 120px;
    width: 50px;
}



footer p{
    text-align: center;
  
}
