*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    font-family: Montserrat, sans-serif;
}
main{
    margin: 0 20px;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: rgb(19, 41, 73);
    font-style: italic;
    font-weight: bold;
}
.paragraph1{
    text-align: center;
}
.paragraph2{
    color: rgb(75, 75, 75);
    text-align: justify;
}
.paragraph2 span{
    font-family: Arial,'Times New Roman', Times, serif;
    font-weight: bold;
}

#img{
    margin-top: 60px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgb(243, 227, 0);
}
#foto{
    text-align: center;
    width: 400px;
    height:300px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/*
#secao1{
float: left;
}

#secao2{
    float: right;
}
*/

#nacionalidade{
    text-transform: uppercase;
}
#cidade{
    text-transform: uppercase;
}
.container.strong{
    text-transform: uppercase;
}
#letra{
    color: darkgreen;
    text-transform: uppercase;
}
h2{
    margin-top: 20px;
    margin-left: 15px;
}

h3{
    margin-top: 20px;
    margin-left: 15px;
}

p{
    margin-top: 30px;
    margin-left: 15px;
}

ol{
    margin-top: 20px;
    margin-left:30px ;
}
.element{
    color: rgb(32, 32, 32);
    margin-left: 30px;
    margin-top: 2px;
}
.element.element1{
    font-size: 20px;
}
.element.element2{
    font-size: 19px;
}
.element.element3{
    font-size: 17px;
}
.element.element4{
    font-size: 16px;
}
.element.element5{
    font-size: 15px;
}
.element.element6{
    font-size: 14px;
}
.button{
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(4, 0, 255);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px 2px 2px black solid;
}