*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    position: fixed;
}

header ul{
    list-style: none;
    float:right;
}

header ul li{
    display: inline;

}

header ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    margin-top: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    letter-spacing: 5px;
}
.button:hover{
    
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.021),
                0 0 20px rgb(22, 127, 131);
         
}
main{
    padding-top: 100px;
    width: 1200px;
    height: 1400px;
    /*background-color: #6e14ff;*/
    margin: auto;
}
h1{
    
    font-size: 3.4em;
    font-weight: 900;
    text-align: center;
    color: rgb(163, 163, 163);
    z-index: 1;
    overflow: hidden;
}

h1 span{
    color: #ff022c;
}
h2 span{
    color: #ff022c;

}
.paragraph.paragraph1{
    margin-top: 390px;
    margin-left: 550px;
    text-align: center;
}
.paragraph2{
    color: rgb(75, 75, 75);
    text-align: justify;
}
.paragraph2 span{
    font-family: Arial,'Times New Roman', Times, serif;
    font-weight: bold;
}


.foto{
    margin-top: 20px;
    border: 1px solid #0000006e;
    box-shadow:  2px 2px 10px;
    width: 400px;
    height:350px;
    border-radius:50%;
    float: right;
   
}

#secao1{
    width: 850px;
    float: left;
    margin-top: 50px;
    padding: 20px 20px;
}

#secao2{
    width: 500px;
    float: right;
    margin-top: 50px;
    padding: 20px 20px;
}
#secao3{
    width: 100%;
    float: left;
    margin-top: 50px;
    padding: 20px 20px;
}

#nacionalidade{
    text-transform: uppercase;
}
#cidade{
    text-transform: uppercase;
}
.container.strong{
    text-transform: uppercase;
}
#letra{
    color: darkgreen;
    text-transform: uppercase;
}
h2{￼￼
    09:42 / 14:58￼HD￼￼￼
    margin-left:30px ;
}
.element{
    color: rgb(32, 32, 32);
    margin-left: 30px;
    margin-top: 2px;
}
.element.element1{
    font-size: 20px;
}
.element.element2{
    font-size: 19px;
}
.element.element3{
    font-size: 17px;
}
.element.element4{
    font-size: 16px;
}
.element.element5{
    font-size: 15px;
}
.element.element6{
    font-size: 14px;
}
#btn{
    width: auto;
    height: auto;
    float: left;
}
footer{
    width: 100%;
    height: 200px;
    background-color: crimson;
    text-align: center;
}

footer img{
    margin-top: 120px;
    width: 50px;
}

footer p{
    text-align: center;
  
}
